table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
}

td img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

thead {
  background-color: #333;
  color: #fff;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  vertical-align: middle;
}


tbody tr:nth-child(odd) {
  background-color: #ffffff;
}


tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}


tbody tr:hover {
  background-color: #dfe6e9;
}


td img {
  width: 80px;
  height: 80px;
  object-fit: contain; 
  background-color: #fff;
}

